<div class="container">
    <div class="toolbar">

        <ul class="nav nav-pills">
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Project <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a class="new-project-menuitem" href="#">New Project</a></li>
                    <li role="presentation"><a class="project-list-menuitem" href="#">Open Project</a></li>
                    <li role="presentation"><a class="json-editor-menuitem" href="#">Source Editor</a></li>
                </ul>
            </li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Screen <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a class="screen-info-menuitem" href="#">Screen Info</a></li>
                    <li role="presentation"><a class="new-area-menuitem" href="#">New Area</a></li>
                    <li role="presentation"><a class="add-widget-menuitem" href="#">Add Widget</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>


    <div class="new-project-dialog modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">New Project</h4>
          </div>
          <div class="modal-body">
              <div class="form-group has-success has-feedback">
                  <label class="control-label" for="name">Project name</label>
                  <input type="text" class="form-control" id="name" aria-describedby="nameStatus">
                  <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                  <span id="nameStatus" class="sr-only">(success)</span>
              </div>

              <div class="form-group has-success has-feedback">
                  <label class="control-label" for="path">Path</label>
                  <input type="text" class="form-control" id="path" aria-describedby="pathStatus">
                  <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                  <span id="pathStatus" class="sr-only">(success)</span>
              </div>

              <div class="form-group has-success has-feedback">
                  <label class="control-label" for="password">Password</label>
                  <input type="text" class="form-control" id="password" aria-describedby="passwordStatus">
                  <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                  <span id="passwordStatus" class="sr-only">(success)</span>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-default btn-submit" data-dismiss="modal">Start</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="project-list-dialog modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Select a Project</h4>
          </div>
          <div class="modal-body">
            <table class="table project-list"></table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="screen-info-dialog modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Screen Info</h4>
          </div>
          <div class="modal-body">
              <div class="form-group has-success has-feedback">
                  <label class="control-label" for="screenid">Screen ID</label>
                  <input type="text" class="form-control" id="screenid" aria-describedby="screenidStatus">
                  <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                  <span id="screenidStatus" class="sr-only">(success)</span>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-close btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn-save btn btn-primary">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="json-editor-dialog modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Source Editor</h4>
          </div>
          <div class="modal-body">
            <div class="json-editor"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-close btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn-save btn btn-primary">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

        <div class="add-widget-dialog modal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
						aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Widgets</h4>
              </div>
              <div class="modal-body">
                <table class="table widget-list"></table>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
