html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#oosh .page-header {
    margin-top: 0px;
}

.logo h1 {
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
}

.logo p {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#oosh .page {
    display : none;
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px;
}

.toolbar .nav > li.active > a {
    background-color: #337ab7;
    color: white;
}

.page-selected {
    border-radius: 5px;
    border: 1px solid #337ab7;
    position: absolute;
    top: 170px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.json-editor-dialog div.col-md-12 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.json-editor {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
}

.json-editor .jsoneditor {
    border-radius: 5px;
}

.json-editor div.jsoneditor-menu {
    background-color: #337ab7;
}

.json-editor .jsoneditor-field,
.json-editor .jsoneditor-value,
.json-editor .jsoneditor textarea,
.json-editor .jsoneditor th,
.json-editor .jsoneditor td {
    font-family: inherit;
}

.widget-conf {
    position: absolute;
    top: 5px;
    bottom: 30px;
    left: 5px;
    right: 5px;
}

.widget-conf div.jsoneditor {
	border-color: transparent;
}

.widget-conf .jsoneditor-field,
.widget-conf .jsoneditor-value,
.widget-conf .jsoneditor textarea,
.widget-conf .jsoneditor th,
.widget-conf .jsoneditor td {
    font-family: inherit;
}

.modal-body {
    height: 420px;
    overflow: auto;
}

.area-drop-active {
    border: 2px dashed red;
}

.area-drop-hover {
    border: 2px dashed green;
}
